<div style="text-align: center;margin-top : 50px;">
  <h3>Today Section</h3>
  <p class="smallWidth">In this you can store what to do today like pay electricity bill, give interview etc.</p>
  <hr>
  <h3>Lists Section</h3>
  <p class="smallWidth">You can add specific list related to something...basically to group items like you can create for Work and here
    you can add item what to do today in job or something like that.</p>
</div>
